.DS_Store
.rspec_status
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# results from sample file
JSUB999999*.xml
example-0001*.xml
example-0002*.xml

# temporary files
~$*.xlsx